<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hans</string>
	<key>CFBundleDisplayName</key>
	<string>小鹭音形</string>
	<key>CFBundleExecutable</key>
	<string>Lufly</string>
	<key>CFBundleIconFile</key>
	<string>lufly.icns</string>
	<key>CFBundleIdentifier</key>
	<string>im.lufly.inputmethod.Lufly</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Lufly</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.10</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1.10</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>im.lufly.inputmethod.Lufly.Hans</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>im.lufly.inputmethod.Lufly.Hans</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hans</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>menu_icon.pdf</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hans</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>menu_icon.pdf</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>menu_icon.pdf</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>im.lufly.inputmethod.Lufly.Hans</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>Lufly_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>LuflyInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>LuflyInputController</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hans</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>menu_icon.pdf</string>
</dict>
</plist>
